@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  border: solid 1px #00bb9f;
  background: #01e9c6; /* Color of the scrollbar handle */
  border-radius: 6px; /* Roundness of the handle */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #01e9c6; /* Color of the handle on hover */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 6px; /* Roundness of the track */
}
